@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Truculenta:opsz,wght@12..72,300&display=swap');

* {
    margin: 0;
    padding: 0; 
    border: none; 
}

body {
    font-family: Quicksand, sans-serif;
    font-weight: 200;
    color: #221b12;
}

html, body {
    height: 100%;
}

/* headings */

h1, h2, h3, h4 {
    font-family: Truculenta, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #291b0e;
}

/* logo and menu bar */

#logo {
    height: 200px;
    width: 20%;
    float: left;
    margin-left: 15px;
}

#menu {
    font-family: Truculenta, sans-serif;
    text-transform: uppercase;
    font-size: 110%;
    letter-spacing: 4px;
}

#menu {
    line-height: 125px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 75px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-whole {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#text-overlay, #text-overlay h1 {
    color: rgb(58, 27, 1);
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
}

#text-overlay {
    font-size: 275%;
    font-family: Quicksand, sans-serif;
    text-align: left;
    letter-spacing: 4px;

    width: 30px;
    height: 100px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: rgba(70, 51, 33, 0.5);

    top: 380px;
    left: 100px;

    position: absolute;
}

/* why us section */

#why-us {
    height: 600px;
    width: 90%;
}

#why-us-left {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#why-us-right {
    padding-top: 30px;
    width: 35%;
    float: right;
}

#why-us-heading {
    font-size: 280%;
    text-align: left;
    margin: 60px 110px 30px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}


#why-us-text-left {
    width: 80%;
    float: right;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;
    border-left: 1px solid #291b0e;
}

#why-us-text-left h3 {
    text-align: left;
}

#why-us-text-left p {
    text-align: left;
}

#why-us-container {
    width: 400px;
    height: 400px;
    padding: 10px;
    border-style: solid;
    border-color: #291b0e;
    border-width: 1px;
    border-radius: 5%;
    margin: 0 auto;
}

#visual-image-bg {
    background: url('../images/why\ meditate\ with\ us.jpg') no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

/* benefits section */

#benefits {
    height: 600px;
    width: 90%;
}

#benefits-right {
    padding-top: 30px;
    width:45%;
    float: right;
}

#benefits-left {
    padding: 30px 0 20px 40px;
    width: 50%;
    float: left;
}

#benefits-heading {
    font-size: 280%;
    text-align: right;
    margin: 60px -10px 30px;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}


#benefits-text-right {
    width: 100%;
    float: left;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;
    border-right: 1px solid #291b0e;
}

#benefits-text-right h3 {
    text-align: right;
}

#benefits-text-right p {
    text-align: right;
}

#benefits-container {
    width: 400px;
    height: 400px;
    padding: 10px;
    border-style: solid;
    border-color: #291b0e;
    border-width: 1px;
    border-radius: 5%;
    margin: 0 auto;
}

#benefits-image-bg {
    background: url('../images/benefits\ too.jpg') no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

/* extra space */

.extra-space {
    border: none;
    width: 100%;
    height: 100px;
    margin: 5px 0;
}

/* quote image */

#quote {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#quote-text-overlay, #quote-text-overlay h2 h3 {
    color: rgb(58, 27, 1);
}

#quote-image {
    height: 600px;
    width: 100%;
    background: url('../images/quote-image.jpg') no-repeat center center;
}

#quote-text-overlay {
    font-size: 150%;
    font-family: Quicksand, sans-serif;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 4px;
    
    width: 250px;
    height: 380px;

    padding: 10px 10px;

    background-color: rgba(250, 118, 250, 0.4);

    bottom: 90px;
    right: 100px;

    position: relative;
    float: right;
    bottom: 85%;
}

/* techniques classes enquiries section */

#links {
    background-image: url('../images/links\ option.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 65px;
    width: 90%;
    height: 300px;
    overflow: hidden;
}

#links div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .3);
    width: 25%;
    height: 300px;
    float: right;
    padding: 30px 10px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#links h1 h2 {
    color: rgb(58, 27, 1);
    line-height: 75px;
}

#links h1 {
    font-size: 350%;
    text-align: center;
    float: left;
    margin-left: 20px;
    margin-top: 50px;
}

#links div a {
    text-decoration: none;
    color: rgb(58, 27, 1);
    font-size: 150%;
    letter-spacing: 4px;
    position: relative;
    top: 60%;
}

#links a:hover {
    border-bottom: 1px solid white;
}

/* testimonial section */

#testimonial {
    height: 600px;
    width: 90%;
}

#testimonial-left {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#testimonial-right {
    padding-top: 30px;
    width: 35%;
    float: right;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}


#testimonial-text-left {
    width: 80%;
    float: right;
    line-height: 20px;
    clear:both;
    margin-bottom: 50px;
    border-left: 1px solid #291b0e;
}

#testimonial-text-left h3 {
    text-align: left;
}

#testimonial-text-left p {
    text-align: left;
}

#testimonial-container {
    width: 400px;
    height: 400px;
    padding: 10px;
    border-style: solid;
    border-color: #291b0e;
    border-width: 1px;
    border-radius: 5%;
    margin: 0 auto;
}

#laura-image-bg {
    background: url('../images/testimonial.jpg') no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

/* newsletter form section */

.form-section {
    clear: left;
    background: url('../images/newsletter.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f16c6b;
}

.sign-up-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.sign-up-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* social media section */

#follow-us-online {
    height: 150px;
    border-top: 1px solid #291b0e;
    border-bottom: 1px solid #291b0e;
}

#follow-us-online h2 {
    font-size: 150%;
    text-align: center;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1px;
    padding: 5%;
    color: rgb(250, 118, 250);
}

/* footer content */

#footer-content {
    background-color: #fd3d3d;
    position: relative;
    bottom: 0;
    padding-bottom: 5px;
    width: 100%;
    height: 80px;
    margin-bottom: -5px;
}

#footer-content {
    font-family: Truculenta, sans-serif;
    text-transform: uppercase;
    font-size: 70%;
    letter-spacing: 4px;
}

#footer-content {
    line-height: 70px;
}

#footer-content h4 {
    margin-left: 35px;
}

#footer-hyperlinks > li {
    position: relative;
    float: right;
    list-style-type: none;
    margin-right: 35px;
}

#footer-hyperlinks {
    position: relative;
    bottom: 85%
}

#footer-hyperlinks a {
    text-decoration: none;
    color: inherit;
}

#footer-hyperlinks a:hover {
    border-bottom: 1px solid #291b0e;
}

/* classes html */

/* classes hero image */

#classes-whole {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#classes-text-overlay, #classes-text-overlay h1 {
    color: rgb(78, 56, 56);
}

#classes-image {
    height: 600px;
    width: 100%;
    background: url('../images/classes\ image\ too.jpg') no-repeat center center;
}

#classes-text-overlay {
    font-size: 275%;
    font-family: Quicksand, sans-serif;
    text-align: left;
    letter-spacing: 4px;

    width: 30px;
    height: 100px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: rgba(70, 51, 33, 0.5);

    top: 350px;
    left: 100px;

    position: absolute;
}

/* meditation classes section */

#meditation-for {
    background-image: url('../images/meditation\ classes\ for.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#meditation-for div {
    color: #291b0e;
    background-color: rgba(0, 0, 0, .3);
    width: 20%;
    height: 600px;
    float: right;
    padding: 30px 10px;
    text-align: center;
    border: 1px solid white;
    box-sizing: border-box;
}

#classes-heading {
    font-size: 250%;
    text-align: center;
    margin-top: 5px;
}

#meditation-for div h2 {
    color: rgb(250, 250, 250);
    font-size: 100%;
    letter-spacing: 4px;
}
    
#meditation-for div h3 {
    color: rgb(250, 250, 250);
    font-size: 120%;
    letter-spacing: 4px;
    position: relative;
    top: 60%;
}

#meditation-for div h4 {
    color: rgb(58, 27, 1);
    font-size: 80%;
    letter-spacing: 4px;
    position: relative;
    top: 70%;
}

/* meditation styles section */

#meditation-styles {
    background-image: url('../images/links\ option.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

#meditation-styles div {
    color: #291b0e;
    background-color: rgba(0, 0, 0, .3);
    width: 33%;
    height: 400px;
    float: right;
    padding: 30px 10px;
    text-align: center;
    border: 1px solid white;
    box-sizing: border-box;
}

#styles-heading {
    font-size: 250%;
    text-align: center;
    margin-top: 5px;
}

#meditation-styles div h2 {
    color: rgb(250, 250, 250);
    font-size: 150%;
    letter-spacing: 4px;
}

/* meditation techniques section */

#meditation-techniques {
    background-image: url('../images/meditation\ classes\ for.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

#meditation-techniques div {
    color: #291b0e;
    background-color: rgba(0, 0, 0, .3);
    width: 20%;
    height: 600px;
    float: right;
    padding: 30px 10px;
    text-align: center;
    border: 1px solid white;
    box-sizing: border-box;
}

#techniques-heading {
    font-size: 250%;
    text-align: center;
    margin-top: 5px;
}

#meditation-techniques div h2 {
    color: rgb(250, 250, 250);
    font-size: 150%;
    letter-spacing: 4px;
}

/* classes testimonial section */

#josephine-image-bg {
    background: url('../images/josephine-testmonial.jpg') no-repeat center center;
    height: 100%;
    border-radius: 5%;
}

/* connect page */
