@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Truculenta:opsz,wght@12..72,300&display=swap');

* {
    margin: 0;
    padding: 0; 
    border: none; 
}

body {
    font-family: Quicksand, sans-serif;
    font-weight: 200;
    color: #291b0e;
}

/* headings */

h1, h2, h3 {
    font-family: Truculenta, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #221b12;
}

/* logo and menu bar */

#logo {
    height: 200px;
    width: 20%;
    float: left;
    margin-left: 15px;
}

#menu {
    font-family: Amatic SC;
    font-size: 110%;
    letter-spacing: 4px;
}

#menu {
    line-height: 125px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-whole {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#text-overlay, #text-overlay h2 {
    color: rgb(58, 27, 1);
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
}

#text-overlay {
    font-size: 275%;
    font-family: Quicksand, sans-serif;
    text-align: left;
    letter-spacing: 4px;

    width: 30px;
    height: 100px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: rgba(70, 51, 33, 0.5);

    top: 380px;
    left: 100px;

    position: absolute;
}

/* why us section */

#why-us-heading {
    text-align: left;
    font-size: 275%;
}

#why-us {
    border-left: 1px solid #291b0e;
    height: 40%;
    margin: 50px 0;
    padding-left: 5%;
}

.right-image {
    height: 300px;
    width: 300px;
    padding: 30%;
    margin: 0 auto;
}