@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Raleway:wght@200&display=swap');

* {
    margin: 0;
    padding: 0; 
    border: none; 
}

body {
    font-family: Barlow, sans-serif;
    font-weight: 200;
    color: #3a3a3a;
}

/* headings */

h1, h2, h3 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

/* logo and menu bar */

#logo {
    height: 200px;
    width: 20%;
    float: left;
    margin-left: 15px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu {
    line-height: 125px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}